
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

h1    {font-size: 30px; text-align:center; background: #e1e1e1; padding:40px 0; margin:0;}


/* ===========================
   ===== Cookie message    ===== 
   =========================== */	
   

.centering{
	max-width:1200px;
	margin:50px auto;
	text-align: left
}

.cookie-message{
	background: #be0071;
	padding:20px 0;
	text-align:center;
}
.cookie-text{
	color:#fff;
	font-size:24px;
	margin:0;
}
.cookie-close{
	display: block;
	padding:10px;
	color: #fff;
	font-size:30px;
	cursor: pointer;
}